* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
    line-height: 1.6;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background-color: #f4f4f4;
    color: #333;
}

nav ul {
    display: flex;
    justify-content: center;
        justify-content: space-evenly;
    margin: 20px;
    padding: 15px;
    
}
 li a {
    text-decoration: none;
    list-style: none;
 }

header {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #744d4d;
    color: #f4f4f4;
    flex-direction: column;
    margin: 20px;
}

header {
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 5rem;
    color: #000000;
    text-align: center;
}

header p {
    font-size: 2rem;
    color: #000000;
    text-align: center;
}

section h2 {
    padding: 20px;
    text-align: center;
}

#projets {
    width: 100%;
    display: block;

    
}

#competences {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid #000000 1px;
    justify-content: space-between;
    width: 30%;
    height: 30%;
    
}

h3 {
    
}

.container_img {
    height: 30%;
    /* width: 100%; */
}

.card-projet {
    display: flex;
    align-items: center;
    flex-direction: row;
    border: solid #000000 1px;
    justify-content: space-around;
    padding: 20px;
    /* width: 100%; */
    
    justify-content: space-between;
}














footer {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}